{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<header>
        <div class="logo-container">
            <img src="{{ asset('images/1.png') }}" alt="Logo KH" class="logo" href="{{ path('index') }}">
        </div>
    </header>
<form method="post">

    {% if app.user %}
        <div class="mb-3">
            Vous êtes authentifié avec l'e-mail {{ app.user.userIdentifier }}: <a href="{{ path('app_logout') }}">se déconnecter</a> ou <a href="{{ path('appp_loginn') }}">continuer</a> ?
        </div>
    {% endif %}

    <h1>Se connecter</h1>

    <label for="inputEmail">E-mail</label>
    <input type="email" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <label for="inputPassword">Mot de passe</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
        value="{{ csrf_token('authenticate') }}">
    <br>
    <br>
    <button class="btn btn-lg btn-primary" type="submit">
        Se connecter
    </button>
</form>
{% endblock %}
