{# templates/admin/demande_inscriptions.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Administration des demandes d'inscriptions{% endblock %}

{% block body %}
    <h1>Administration des demandes d'inscriptions</h1>
    <div class="container-table">
        <table>
            <thead>
                <tr>
                    <th>Numéro BCE</th>
                    <th>Nom</th>
                    <th>Adresse</th>
                    <th>Code Postal</th>
                    <th>E-mail de contact</th>
                    <th>Acceptation</th>
                </tr>
            </thead>
            <tbody>
                {% for inscription in inscriptions %}
                    <tr>
                        <td>{{ inscription.numBCE }}</td>
                        <td>{{ inscription.nom }}</td>
                        <td>{{ inscription.adresse }}</td>
                        <td>{{ inscription.zipcode }}</td>
                        <td>{{ inscription.contactEmail }}</td>
                        <td class="table-actions">
                            <a href="{{ path('valider_inscription', {'id':inscription.id}) }}" class="btn">Valider</a>
                            <a href="{{ path('refuser_inscription', {'id': inscription.id}) }}" class="btn">Refuser</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}